#content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    align-items: center;
    padding: 2vw;
}

#content a {
    background-color: #303030; /* Optional: background for visibility */
    padding: 7px; /* Optional: padding inside each cell */
    text-align: center; /* Optional: center text */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid black; /* Optional: border for better visibility */
    height: auto;
    color: white;
}

#content a:hover {
    background-color: #707070;
    color: #00ffd9;
}

@media (max-width: 768px) {
    #content {
        grid-template-columns: repeat(2, 1fr); /* Switch to 2 columns on smaller screens */
    }
}

@media (max-width: 480px) {
    #content {
        grid-template-columns: 1fr; /* Switch to 1 column on very small screens */
    }
}