/* Reset */
body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

body {
    background-color: #202020;
    font-family: 'Arial', sans-serif;
    background-image: url('../svg/background.svg'); /* Background image */
    background-size: 50vw 100vh;
    background-position: 71vw 0;
    background-repeat: repeat-y;
    font-size: 1.5vw;
}

article{
    width: 85vw;
    display: flex;
    flex-direction: column;
    gap:2vw;
}
header {
    font-size: 22px;
    color: white;
    height:auto;
    background: linear-gradient(to right, rgb(25, 21, 85), #202020); /* Base gradient */
}

header h3{
    padding-left: 2vw;
    font-size: 2.5vw;
}


/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px;  /* Width of the scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
    background-color: rgba(255, 255, 255, 0);
}

/* Style the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    border-radius: 1px;         /* Rounded corners for track */
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #333;      /* Dark grey thumb */
    border-radius: 10px;         /* Rounded corners for thumb */
    border: 3px solid #202020;  /* Light border around the thumb */
}

/* Style the thumb on hover (to give a different look when hovered) */
::-webkit-scrollbar-thumb:hover {
    background-color: #444;      /* Darker grey when hovered */
}

/* Optional: style the scrollbar buttons (arrows at the ends of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;  /* Hide the scrollbar buttons (arrows) */
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}